body h1 {
  font-family: serif;
  font-size: 3rem;
  padding-top: 2rem;
  padding-left: 2rem;
  color: #ae9a64
}


main  {
  margin: 5rem auto 5rem auto;
  border: 0.2rem solid #ae9a64;
  height: 500vh;
  width: 90%;
  display: grid;
  grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.foto1 {
  background-image: url(foto1.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto2 {
  background-image: url(foto2.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto3 {
  background-image: url(foto3.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto4 {
  background-image: url(foto4.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto5 {
  background-image: url(foto5.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto6 {
  background-image: url(foto6.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto7 {
  background-image: url(foto7.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto8 {
  background-image: url(foto8.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto9 {
  background-image: url(foto9.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto10 {
  background-image: url(foto10.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto11 {
  background-image: url(foto11.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto12 {
  background-image: url(foto12.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto13 {
  background-image: url(foto13.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto14 {
  background-image: url(foto14.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto15 {
  background-image: url(foto15.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto16 {
  background-image: url(foto16.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto17 {
  background-image: url(foto17.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.foto18 {
  background-image: url(foto18.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header .menu {
  position: fixed;
  top: 2rem;
  right: -10rem;
}

header img {
  position: relative;
  top: 2rem;
  left: 2rem;
}

footer a{
  padding-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: serif;
  font-size: 1.5rem;
}

#nav-toggle {
	position: fixed;
	top: 3rem;
	right: 5rem;
}


nav {
	background-color: #ae9a64;
	width: 50vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	padding: 5rem;
}

nav.onzichtbaar {
	display: none;
}

main {
	min-height: 100vh;
	padding: 3rem;
}

nav a {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 2.25rem;
	margin-bottom: 3rem;
}

@supports (grid-area: auto) {
	@media (min-width: 700px) {
		body  {
      max-width: 1300px;
    }

    header img {
      left: 4rem;
    }

    main {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    main a {
      grid-column: 1/4;
      grid-row: 1/2;
    }
    .foto1 {
      grid-column: 1/3;
      grid-row: 2/4;
      background-size: cover;
    }
    .foto2 {
      grid-column: 1/2;
      grid-row: 4/6;
      background-size: cover;
    }
    .foto3 {
      grid-column: 2/3;
      grid-row: 4/5;
      background-size: cover;
    }
    .foto4 {
      grid-column: 2/3;
      grid-row: 5/6;
      background-size: cover;
    }
    .foto5 {
      grid-column: 1/4;
      grid-row: 6/7;
      background-size: cover;
    }
    .foto6 {
      grid-column: 1/3;
      grid-row: 7/8;
      background-size: cover;
    }
    .foto7 {
      grid-column: 3/4;
      grid-row: 7/8;
      background-size: cover;
    }
    .foto8 {
      grid-column: 1/2;
      grid-row: 8/9;
      background-size: cover;
    }
    .foto9 {
      grid-column: 2/4;
      grid-row: 8/9;
      background-size: cover;
    }
    .foto10 {
      grid-column: 1/3;
      grid-row: 9/11;
      background-size: cover;
    }
    .foto11 {
      grid-column: 3/4;
      grid-row: 9/11;
      background-size: cover;
    }
    .foto12 {
      grid-column: 1/2;
      grid-row: 11/12;
      background-size: cover;
    }
    .foto13 {
      grid-column: 2/3;
      grid-row: 11/12;
      background-size: cover;
    }
    .foto14 {
      grid-column: 2/4;
      grid-row: 12/14;
      background-size: cover;
    }
    .foto15 {
      grid-column: 3/4;
      grid-row: 11/12;
      background-size: cover;
    }
    .foto16 {
      grid-column: 3/4;
      grid-row: 2/4;
      background-size: cover;
    }
    .foto17 {
      grid-column: 3/4;
      grid-row: 4/6;
      background-size: cover;
    }
    .foto18 {
      grid-column: 1/2;
      grid-row: 12/14;
      background-size: cover;
    }
	}

  @media (min-width: 1100px) {
    body  {
      margin-left: auto;
      margin-right: auto;
    }

    header img {
      left: 7rem;
    }

    nav {
      width: 25vw;
    }

    #nav-toggle {
      right: 15.5rem;
    }

    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .foto1 {
      grid-column: 1/3;
      grid-row: 2/4;
    }
    .foto2 {
      grid-column: 4/5;
      grid-row: 2/4;
    }
    .foto3 {
      grid-column: 1/2;
      grid-row: 4/6;
    }
    .foto4 {
      grid-column: 2/3;
      grid-row: 4/6;
    }
    .foto5 {
      grid-column: 1/4;
      grid-row: 6/8;
    }
    .foto6 {
      grid-column: 4/5;
      grid-row: 6/7;
    }
    .foto7 {
      grid-column: 1/2;
      grid-row: 8/10;
    }
    .foto8 {
      grid-column: 4/5;
      grid-row: 7/8;
    }
    .foto9 {
      grid-column: 2/4;
      grid-row: 8/10;
    }
    .foto10 {
      grid-column: 1/3;
      grid-row: 10/12;
    }
    .foto11 {
      grid-column: 4/5;
      grid-row: 8/10;
    }
    .foto12 {
      grid-column: 3/5;
      grid-row: 14/16;
    }
    .foto13 {
      grid-column: 1/4;
      grid-row: 12/14;
    }
    .foto14 {
      grid-column: 1/3;
      grid-row: 14/16;
    }
    .foto15 {
      grid-column: 4/5;
      grid-row: 12/14;
    }
    .foto16 {
      grid-column: 3/4;
      grid-row: 2/4;
    }
    .foto17 {
      grid-column: 3/5;
      grid-row: 4/6;
    }
    .foto18 {
      grid-column: 3/5;
      grid-row: 10/12;
    }

  }

}
